In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [56]:
ds = pd.read_csv('CO2 Emissions_Canada.csv')

In [57]:
ds.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [58]:
ds.rename(columns={'CO2 Emissions(g/km)':'CO2_emission'}, inplace=True)

In [59]:
ds.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2_emission
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [60]:
ds['Transmission'].value_counts()

AS6     1324
AS8     1211
M6       901
A6       789
A8       490
AM7      445
A9       339
AS7      319
AV       295
M5       193
AS10     168
AM6      132
AV7      118
AV6      113
M7        91
A5        84
AS9       77
A4        65
AM8       62
A7        53
AV8       39
A10       31
AS5       26
AV10      11
AM5        4
AM9        3
AS4        2
Name: Transmission, dtype: int64

In [61]:
ds['Fuel Type'].value_counts()

X    3637
Z    3202
E     370
D     175
N       1
Name: Fuel Type, dtype: int64

In [62]:
# Dropping natural gas as there is only one data we have which would not make much difference in modelling

ds_N = ds[ds['Fuel Type']== 'Natural gas']

ind = ds_N.index

ds_N

Empty DataFrame
Columns: [Make, Model, Vehicle Class, Engine Size(L), Cylinders, Transmission, Fuel Type, Fuel Consumption City (L/100 km), Fuel Consumption Hwy (L/100 km), Fuel Consumption Comb (L/100 km), Fuel Consumption Comb (mpg), CO2_emission]
Index: []

In [63]:
for i in ind:
    ds.drop(i, axis=0, inplace=True)

In [64]:
ds[ds['Fuel Type']=='Natural gas']

Empty DataFrame
Columns: [Make, Model, Vehicle Class, Engine Size(L), Cylinders, Transmission, Fuel Type, Fuel Consumption City (L/100 km), Fuel Consumption Hwy (L/100 km), Fuel Consumption Comb (L/100 km), Fuel Consumption Comb (mpg), CO2_emission]
Index: []

In [65]:
# creating dummy variables of fuel type and transmission (catagorical features)

d_v =pd.get_dummies(ds['Fuel Type'], prefix='Fuel', drop_first=True)
dv = pd.get_dummies(ds["Transmission"], drop_first=True)
d_v.head()

   Fuel_E  Fuel_N  Fuel_X  Fuel_Z
0       0       0       0       1
1       0       0       0       1
2       0       0       0       1
3       0       0       0       1
4       0       0       0       1

In [66]:
dv.head()

,A4,A5,A6,A7,A8,A9,AM5,AM6,AM7,AM8,...,AS8,AS9,AV,AV10,AV6,AV7,AV8,M5,M6,M7
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
df = [ds, d_v,dv]

data = pd.concat(df, axis=1)
data.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),...,AS8,AS9,AV,AV10,AV6,AV7,AV8,M5,M6,M7
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,...,0,0,0,0,0,0,0,0,0,0
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,...,0,0,0,0,0,0,0,0,1,0
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,...,0,0,0,0,0,1,0,0,0,0
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,...,0,0,0,0,0,0,0,0,0,0
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,...,0,0,0,0,0,0,0,0,0,0

In [68]:
data.drop(['Fuel Type'], inplace=True, axis=1)
data.drop(['Transmission'], inplace=True, axis=1)

In [69]:
df_freq = data['Make'].value_counts().to_dict()
mod_freq = data['Model'].value_counts().to_dict()
veh_freq = data['Vehicle Class'].value_counts().to_dict()

In [70]:
data['Make'] = data['Make'].map(df_freq)
data['Model'] = data['Model'].map(mod_freq)
data['Vehicle Class'] = data['Vehicle Class'].map(veh_freq)

In [71]:
data.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2_emission,...,AS8,AS9,AV,AV10,AV6,AV7,AV8,M5,M6,M7
0,72,9,1022,2.0,4,9.9,6.7,8.5,33,196,...,0,0,0,0,0,0,0,0,0,0
1,72,9,1022,2.4,4,11.2,7.7,9.6,29,221,...,0,0,0,0,0,0,0,0,1,0
2,72,2,1022,1.5,4,6.0,5.8,5.9,48,136,...,0,0,0,0,0,1,0,0,0,0
3,72,1,1217,3.5,6,12.7,9.1,11.1,25,255,...,0,0,0,0,0,0,0,0,0,0
4,72,7,1217,3.5,6,12.1,8.7,10.6,27,244,...,0,0,0,0,0,0,0,0,0,0

In [72]:
X = data.drop('CO2_emission', axis=1)
y = data['CO2_emission']

### FEATURE SELECTION USING CHI-SQUARE TEST

In [74]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [75]:
ranked_feature = SelectKBest(score_func = chi2, k='all')
ordered_feature = ranked_feature.fit(X, y)

In [76]:
top_feat = pd.DataFrame(ordered_feature.scores_ , columns=['score'])
top_feat['variables'] = X.columns

In [77]:
# splitting of traing testing set into X and y

from sklearn.model_selection import train_test_split

X_train,X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(5908, 39)
(1477, 39)
(5908,)
(1477,)

### Simple Vector Machine

In [79]:
model = LinearSVR()
model.fit(X_train,y_train)
pred_train = model.predict(X_train)
rmse_train = np.sqrt(mean_squared_error(y_train,pred_train))
mae_train = mean_absolute_error(y_train,pred_train)
r2_train = r2_score(y_train,pred_train)

pred_test = model.predict(X_test)
rmse_test = np.sqrt(mean_squared_error(y_test,pred_test))
mae_test = mean_absolute_error(y_test,pred_test)
r2_test = r2_score(y_test,pred_test)
print("Mean absolute error: %.2f" % mae_test)
print("Residual sum of squares (MSE): %.2f" % rmse_test)
print("R2-score: %.2f" % r2_test )

Mean absolute error: 9.20
Residual sum of squares (MSE): 13.87
R2-score: 0.94

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "